.TheatreDetailsAndMovieTime {
  border-bottom: 1px solid #eff1f3;
  padding: 13px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: black;
}
.TheatreDetails{
  width: 20vw;
  min-width: 20vw;
}
.ShowTimes{
  /* width: 100%; */
  display: flex;
  flex-direction: row;
}