.parent_block {
  height: 100vh;
  /* border: 2px solid red; */
  height: 100%;
}
.theatre_dashboard {
  color: rgb(185, 159, 159);
  margin: 1% 5%;
  
  /* border: 2px solid blue; */
}
.add_button {
  font-size: large;
  width: 10%;   
  margin-left: 90%;
}
