.bruh{
    /* position: fixed; */
    top: 0;
    /* z-index: 1; */
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh; 
    color: black;
}
.headBar{
    padding: 0 5vw;
    display: flex; 
    justify-content: space-between;
    font-size: 5vh;
}
.button{
    font-size: 2.5vh;
    margin: 0 0.5vw;
    
}

